<!DOCTYPE html>
<html>
  <head>
      <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body>
    
        <!--Pokemon Projet--><center><br>
        <form action="/pokemon" method="GET" class="mb-8">
                <label for="pokemon_id" class="text-black">L'id du Pokemon:</label>
                <input type="number" id="pokemon_id" style="background: #d9d9d9;" name="pokemon_id" class="px-4 py-2 border rounded-lg">
                <button type="submit" class="px-4 py-2 ml-4 bg-blue-500 text-white rounded-lg">Recherche</button>
            </form></center>
            {% if pokemon %}
                 
        <center>
              <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <div class="flex flex-col items-center pb-10">
                    <img class="w-40 h-40 mb-3 rounded-full shadow-lg" src="{{pokemon.image_url}}" alt="Bonnie image"/>
                    <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">{{pokemon.name}}</h5>
                    <span class="text-sm text-gray-500 dark:text-gray-400"> type(s) : <br>
                        {% for i in pokemon.type %}
                        {{i}}<br>
                        {% endfor %}</span>
                </div>
            </div>
        </center>
            {% endif %}

            <!--Ancien Projet -->
            
            
</body>

</html>
